html{
    background-image: linear-gradient(45deg, black, crimson);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    width: 100%;
    height:700px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 50%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.541);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.661);

}
.container > div{
    width: 70%;
}
input{
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    margin-bottom: 30px;
    font-size: 16px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.535);
}
.container > h1{
    margin: 0;
    margin-bottom: 40px;
} 
.container > .formulario{
    display: flex;
    flex-direction: column;
}
.botao{
    display: flex;
    justify-content: center;
}
button{
    background: none;
    padding: 5px;
    border: 2px 2px 2px 2px solid ;
    border-color: black;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: rgb(22, 18, 18);
    color: rgba(255, 255, 255, 0.541);
}