/*SETINGS DO FUNDO DO HTML*/

html{
    background-image: url(images/FundoHTML.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 0 0 0;

}
/*DEFINIÇÕES DA GRADE DO SITE*/

.body{
    margin: auto;
    height: 700px;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.914);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.661);
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    float: left;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
}
.corpocentral1{
    float: left;
    width: 50%;
    height: 35%;
}
.corpocentral2{
    float: left;
    width: 50%;
    height: 35%;
    display: flex;
    justify-content: center;
}
.rodape{
    float: left;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;

}

/*SETINGS DOS INPUTS*/ 

/*tira setinhas do tipo number*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number]{
    background: none;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    display: inline-block;
    font-size: 16px;
}

/* AJUSTES DO FOMULÁRIO*/

.agencia,.conta,.button, .acessarH1{
    padding: 5px;
}
.acessarH1{
    display: flex;
    justify-content: center;
    margin: 0;
}

/*AJUSUTES DOS CABEÇALHO*/
.cabecalhoH1{
    margin-top: 100px;
}

/*AJUSTES DO RODA PÉ*/
.rodapeH1{
    margin-top: 100px;
    font-size: 25px;
}