/*SETINGS DO FUNDO DO HTML*/

html{
    background-image: url(images/FundoHTML.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 0 0 0;

}
/*DEFINIÇÕES DA GRADE DO SITE*/

.body{
    margin: auto;
    height: 700px;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.803);
}
.cabecalho{
    float: left;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
}
.corpocentral1{
    float: left;
    width: 50%;
    height: 35%;
}
.corpocentral2{
    float: left;
    width: 50%;
    height: 35%;
    display: flex;
    justify-content: center;
}
.rodape{
    float: left;
    width: 100%;
    height: 30%;

}
/* CENTRALIZAÇÃO DO FOMULÁRIO*/

/*.formulario{
    
}

/*CENTRALIZAÇÃO DO CABEÇALHO*/

h1{
    margin-top: 0;
    margin-bottom: 0;
}

/*SETINGS DOS INPUTS*/ 

/*tira setinhas do tipo number*/
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number]{
    border-radius: 5px;
}
